In [1]:
import requests
import pandas as pd
import os
import json
from bs4 import BeautifulSoup

In [2]:
# IMPORT THE DATASET NBA Players 

df_players = pd.read_csv("../your-code/nba-players-stats/players.csv")
df_players.head()

,Unnamed: 0,Player,height,weight,collage,born,birth_city,birth_state
0,0,Curly Armstrong,180.0,77.0,Indiana University,1918.0,NaN,NaN
1,1,Cliff Barker,188.0,83.0,University of Kentucky,1921.0,Yorktown,Indiana
2,2,Leo Barnhorst,193.0,86.0,University of Notre Dame,1924.0,NaN,NaN
3,3,Ed Bartels,196.0,88.0,North Carolina State University,1925.0,NaN,NaN
4,4,Ralph Beard,178.0,79.0,University of Kentucky,1927.0,Hardinsburg,Kentucky

In [3]:
# IMPORT THE DATASET NBA Player Data 

df_player_data = pd.read_csv("../your-code/nba-players-stats/player_data.csv")
df_player_data.head()

,name,year_start,year_end,position,height,weight,birth_date,college
0,Alaa Abdelnaby,1991,1995,F-C,6-10,240.0,"June 24, 1968",Duke University
1,Zaid Abdul-Aziz,1969,1978,C-F,6-9,235.0,"April 7, 1946",Iowa State University
2,Kareem Abdul-Jabbar,1970,1989,C,7-2,225.0,"April 16, 1947","University of California, Los Angeles"
3,Mahmoud Abdul-Rauf,1991,2001,G,6-1,162.0,"March 9, 1969",Louisiana State University
4,Tariq Abdul-Wahad,1998,2003,F,6-6,223.0,"November 3, 1974",San Jose State University

In [4]:
# IMPORT THE DATASET NBA Season Stats 

df_season_stats = pd.read_csv("../your-code/nba-players-stats/Seasons_Stats.csv")
df_season_stats.head()

,Unnamed: 0,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0,1950.0,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,NaN,...,0.705,NaN,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0
1,1,1950.0,Cliff Barker,SG,29.0,INO,49.0,NaN,NaN,NaN,...,0.708,NaN,NaN,NaN,109.0,NaN,NaN,NaN,99.0,279.0
2,2,1950.0,Leo Barnhorst,SF,25.0,CHS,67.0,NaN,NaN,NaN,...,0.698,NaN,NaN,NaN,140.0,NaN,NaN,NaN,192.0,438.0
3,3,1950.0,Ed Bartels,F,24.0,TOT,15.0,NaN,NaN,NaN,...,0.559,NaN,NaN,NaN,20.0,NaN,NaN,NaN,29.0,63.0
4,4,1950.0,Ed Bartels,F,24.0,DNN,13.0,NaN,NaN,NaN,...,0.548,NaN,NaN,NaN,20.0,NaN,NaN,NaN,27.0,59.0

In [5]:
# CHECK NUMBER OF MISSING VALUES IN DATAFRAMES
#df_season_stats['PER'].value_counts()

total_values = len(df_season_stats)
print(total_values)

count_nan = len(df_season_stats) - df_season_stats.count()
count_nan

24691

Unnamed: 0        0
Year             67
Player           67
Pos              67
Age              75
Tm               67
G                67
GS             6458
MP              553
PER             590
TS%             153
3PAr           5852
FTr             166
ORB%           3899
DRB%           3899
TRB%           3120
AST%           2136
STL%           3899
BLK%           3899
TOV%           5109
USG%           5051
blanl         24691
OWS             106
DWS             106
WS              106
WS/48           590
blank2        24691
OBPM           3894
DBPM           3894
BPM            3894
VORP           3894
FG               67
FGA              67
FG%             166
3P             5764
3PA            5764
3P%            9275
2P               67
2PA              67
2P%             195
eFG%            166
FT               67
FTA              67
FT%             925
ORB            3894
DRB            3894
TRB             379
AST              67
STL            3894
BLK            3894
TOV            5046
PF               67
PTS              67
dtype: int64

In [6]:
df_season_stats.dropna()
df_season_stats

,Unnamed: 0,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0,1950.0,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,NaN,...,0.705,NaN,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0
1,1,1950.0,Cliff Barker,SG,29.0,INO,49.0,NaN,NaN,NaN,...,0.708,NaN,NaN,NaN,109.0,NaN,NaN,NaN,99.0,279.0
2,2,1950.0,Leo Barnhorst,SF,25.0,CHS,67.0,NaN,NaN,NaN,...,0.698,NaN,NaN,NaN,140.0,NaN,NaN,NaN,192.0,438.0
3,3,1950.0,Ed Bartels,F,24.0,TOT,15.0,NaN,NaN,NaN,...,0.559,NaN,NaN,NaN,20.0,NaN,NaN,NaN,29.0,63.0
4,4,1950.0,Ed Bartels,F,24.0,DNN,13.0,NaN,NaN,NaN,...,0.548,NaN,NaN,NaN,20.0,NaN,NaN,NaN,27.0,59.0
5,5,1950.0,Ed Bartels,F,24.0,NYK,2.0,NaN,NaN,NaN,...,0.667,NaN,NaN,NaN,0.0,NaN,NaN,NaN,2.0,4.0
6,6,1950.0,Ralph Beard,G,22.0,INO,60.0,NaN,NaN,NaN,...,0.762,NaN,NaN,NaN,233.0,NaN,NaN,NaN,132.0,895.0
7,7,1950.0,Gene Berce,G-F,23.0,TRI,3.0,NaN,NaN,NaN,...,0.000,NaN,NaN,NaN,2.0,NaN,NaN,NaN,6.0,10.0
8,8,1950.0,Charlie Black,F-C,28.0,TOT,65.0,NaN,NaN,NaN,...,0.651,NaN,NaN,NaN,163.0,NaN,NaN,NaN,273.0,661.0
9,9,1950.0,Charlie Black,F-C,28.0,FTW,36.0,NaN,NaN,NaN,...,0.632,NaN,NaN,NaN,75.0,NaN,NaN,NaN,140.0,382.0
10,10,1950.0,Charlie Black,F-C,28.0,AND,29.0,NaN,NaN,NaN,...,0.688,NaN,NaN,NaN,88.0,NaN,NaN,NaN,133.0,279.0
11,11,1950.0,Nelson Bobb,PG,25.0,PHW,57.0,NaN,NaN,NaN,...,0.626,NaN,NaN,NaN,46.0,NaN,NaN,NaN,97.0,242.0
12,12,1950.0,Jake Bornheimer,F-C,22.0,PHW,60.0,NaN,NaN,NaN,...,0.667,NaN,NaN,NaN,40.0,NaN,NaN,NaN,111.0,254.0
13,13,1950.0,Vince Boryla,SF,22.0,NYK,59.0,NaN,NaN,NaN,...,0.764,NaN,NaN,NaN,95.0,NaN,NaN,NaN,203.0,612.0
14,14,1950.0,Don Boven,F-G,24.0,WAT,62.0,NaN,NaN,NaN,...,0.688,NaN,NaN,NaN,137.0,NaN,NaN,NaN,255.0,656.0
15,15,1950.0,Harry Boykoff,C,27.0,WAT,61.0,NaN,NaN,NaN,...,0.775,NaN,NaN,NaN,149.0,NaN,NaN,NaN,229.0,779.0
16,16,1950.0,Joe Bradley,G,21.0,CHS,46.0,NaN,NaN,NaN,...,0.395,NaN,NaN,NaN,36.0,NaN,NaN,NaN,51.0,87.0
17,17,1950.0,Bob Brannum,PF,24.0,SHE,59.0,NaN,NaN,NaN,...,0.690,NaN,NaN,NaN,205.0,NaN,NaN,NaN,279.0,713.0
18,18,1950.0,Carl Braun,G-F,22.0,NYK,67.0,NaN,NaN,NaN,...,0.762,NaN,NaN,NaN,247.0,NaN,NaN,NaN,188.0,1031.0
19,19,1950.0,Frankie Brian,G,26.0,AND,64.0,NaN,NaN,NaN,...,0.824,NaN,NaN,NaN,189.0,NaN,NaN,NaN,192.0,1138.0
20,20,1950.0,Price Brookfield,F-G,29.0,ROC,7.0,NaN,NaN,NaN,...,0.923,NaN,NaN,NaN,1.0,NaN,NaN,NaN,7.0,34.0
21,21,1950.0,Bob Brown,F,26.0,DNN,62.0,NaN,NaN,NaN,...,0.683,NaN,NaN,NaN,101.0,NaN,NaN,NaN,269.0,724.0
22,22,1950.0,Jim Browne,C,20.0,DNN,31.0,NaN,NaN,NaN,...,0.481,NaN,NaN,NaN,8.0,NaN,NaN,NaN,16.0,47.0
23,23,1950.0,Walt Budko,PF,24.0,BLB,66.0,NaN,NaN,NaN,...,0.757,NaN,NaN,NaN,146.0,NaN,NaN,NaN,259.0,595.0
24,24,1950.0,Jack Burmaster,G,23.0,SHE,61.0,NaN,NaN,NaN,...,0.681,NaN,NaN,NaN,179.0,NaN,NaN,NaN,237.0,598.0
25,25,1950.0,Tommy Byrnes,F-G,26.0,BLB,53.0,NaN,NaN,NaN,...,0.702,NaN,NaN,NaN,88.0,NaN,NaN,NaN,76.0,327.0
26,26,1950.0,Bill Calhoun,SG,22.0,ROC,62.0,NaN,NaN,NaN,...,0.719,NaN,NaN,NaN,115.0,NaN,NaN,NaN,100.0,560.0
27,27,1950.0,Don Carlson,G-F,30.0,MNL,57.0,NaN,NaN,NaN,...,0.726,NaN,NaN,NaN,76.0,NaN,NaN,NaN,126.0,267.0
28,28,1950.0,Bob Carpenter,F-C,32.0,FTW,66.0,NaN,NaN,NaN,...,0.742,NaN,NaN,NaN,92.0,NaN,NaN,NaN,168.0,614.0
29,29,1950.0,Jake Carter,F-C,25.0,TOT,24.0,NaN,NaN,NaN,...,0.679,NaN,NaN,NaN,24.0,NaN,NaN,NaN,59.0,82.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24661,24661,2017.0,Deron Williams,PG,32.0,TOT,64.0,44.0,1657.0,14.0,...,0.826,14.0,133.0,147.0,360.0,31.0,8.0,138.0,138.0,701.0
24662,24662,2017.0,Deron Williams,PG,32.0,DAL,40.0,40.0,1171.0,15.0,...,0.821,13.0,89.0,102.0,274.0,25.0,2.0,98.0,96.0,522.0
24663,24663,2017.0,Deron Williams,PG,32.0,CLE,24.0,4.0,486.0,11.4,...,0.840,1.0,44.0,45.0,86.0,6.0,6.0,40.0,42.0,179.0
24664,24664,2017.0,Derrick Williams,PF,25.0,TOT,50.0,11.0,804.0,10.6,...,0.652,19.0,111.0,130.0,28.0,14.0,7.0,28.0,60.0,304.0
24665,24665,2017.0,Derrick Williams,PF,25.0,MIA,25.0,11.0,377.0,10.1,...,0.620,16.0,57.0,73.0,14.0,9.0,5.0,14.0,33.0,148.0
24666,24666,2017.0,Derrick Williams,PF,25.0,CLE,25.0,0.0,427.0,11.1,...,0.692,3.0,54.0,57.0,14.0,5.0,2.0,14.0,27.0,156.0
24667,24667,2017.0,Lou Williams,SG,30.0,TOT,81.0,1.0,1994.0,21.4,...,0.880,26.0,176.0,202.0,239.0,80.0,19.0,160.0,92.0,1421.0
24668,24668,2017.0,Lou Williams,SG,30.0,LAL,58.0,1.0,1403.0,23.9,...,0.884,14.0,118.0,132.0,183.0,65.0,10.0,120.0,67.0,1078.0
24669,24669,2017.0,Lou Williams,SG,30.0,HOU,23.0,0.0,591.0,15.4,...,0.867,12.0,58.0,70.0,56.0,15.0,9.0,40.0,25.0,343.0
24670,24670,2017.0,Marvin Williams,PF,30.0,CHO,76.0,76.0,2295.0,13.7,...,0.873,89.0,409.0,498.0,106.0,58.0,53.0,60.0,134.0,849.0
24671,24671,2017.0,Reggie Williams,SF,30.0,NOP,6.0,0.0,79.0,11.7,...,0.857,2.0,4.0,6.0,4.0,3.0,0.0,0.0,2.0,27.0
24672,24672,2017.0,Troy Williams,SF,22.0,TOT,30.0,16.0,557.0,8.9,...,0.656,15.0,54.0,69.0,25.0,27.0,10.0,33.0,60.0,185.0
24673,24673,2017.0,Troy Williams,SF,22.0,MEM,24.0,13.0,418.0,7.6,...,0.600,6.0,39.0,45.0,19.0,24.0,9.0,27.0,42.0,127.0
24674,24674,2017.0,Troy Williams,SF,22.0,HOU,6.0,3.0,139.0,12.8,...,0.857,9.0,15.0,24.0,6.0,3.0,1.0,6.0,18.0,58.0
24675,24675,2017.0,Kyle Wiltjer,PF,24.0,HOU,14.0,0.0,44.0,6.7,...,0.500,4.0,6.0,10.0,2.0,3.0,1.0,5.0,4.0,13.0
24676,24676,2017.0,Justise Winslow,SF,20.0,MIA,18.0,15.0,625.0,8.2,...,0.617,23.0,71.0,94.0,66.0,27.0,6.0,33.0,52.0,196.0
24677,24677,2017.0,Jeff Withey,C,26.0,UTA,51.0,1.0,432.0,18.8,...,0.750,52.0,69.0,121.0,7.0,16.0,32.0,14.0,52.0,146.0
24678,24678,2017.0,Christian Wood,PF,21.0,CHO,13.0,0.0,107.0,15.1,...,0.733,14.0,15.0,29.0,2.0,3.0,6.0,7.0,11.0,35.0
24679,24679,2017.0,Metta World,SF,37.0,LAL,25.0,2.0,160.0,6.2,...,0.625,5.0,15.0,20.0,11.0,9.0,2.0,7.0,18.0,57.0
24680,24680,2017.0,Brandan Wright,PF,29.0,MEM,28.0,5.0,447.0,18.5,...,0.657,31.0,47.0,78.0,15.0,11.0,20.0,10.0,42.0,189.0
24681,24681,2017.0,Delon Wright,PG,24.0,TOR,27.0,0.0,446.0,15.0,...,0.764,16.0,32.0,48.0,57.0,27.0,11.0,25.0,31.0,150.0
24682,24682,2017.0,James Young,SG,21.0,BOS,29.0,0.0,220.0,10.0,...,0.667,6.0,20.0,26.0,4.0,10.0,2.0,4.0,15.0,68.0
24683,24683,2017.0,Joe Young,PG,24.0,IND,33.0,0.0,135.0,11.4,...,0.733,1.0,16.0,17.0,15.0,4.0,0.0,5.0,5.0,68.0
24684,24684,2017.0,Nick Young,SG,31.0,LAL,60.0,60.0,1556.0,14.1,...,0.856,25.0,112.0,137.0,58.0,37.0,14.0,36.0,137.0,791.0
24685,24685,2017.0,Thaddeus Young,PF,28.0,IND,74.0,74.0,2237.0,14.9,...,0.523,131.0,318.0,449.0,122.0,114.0,30.0,96.0,135.0,814.0
24686,24686,2017.0,Cody Zeller,PF,24.0,CHO,62.0,58.0,1725.0,16.7,...,0.679,135.0,270.0,405.0,99.0,62.0,58.0,65.0,189.0,639.0
24687,24687,2017.0,Tyler Zeller,C,27.0,BOS,51.0,5.0,525.0,13.0,...,0.564,43.0,81.0,124.0,42.0,7.0,21.0,20.0,61.0,178.0
24688,24688,2017.0,Stephen Zimmerman,C,20.0,ORL,19.0,0.0,108.0,7.3,...,0.600,11.0,24.0,35.0,4.0,2.0,5.0,3.0,17.0,23.0
24689,24689,2017.0,Paul Zipser,SF,22.0,CHI,44.0,18.0,843.0,6.9,...,0.775,15.0,110.0,125.0,36.0,15.0,16.0,40.0,78.0,240.0
24690,24690,2017.0,Ivica Zubac,C,19.0,LAL,38.0,11.0,609.0,17.0,...,0.653,41.0,118.0,159.0,30.0,14.0,33.0,30.0,66.0,284.0

In [7]:
# DROP BLANK NBA Season Stats DF COLUMNS

df_season_stats = df_season_stats.drop(columns=["blank2","blanl"])

df_season_stats.head()

,Unnamed: 0,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0,1950.0,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,NaN,...,0.705,NaN,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0
1,1,1950.0,Cliff Barker,SG,29.0,INO,49.0,NaN,NaN,NaN,...,0.708,NaN,NaN,NaN,109.0,NaN,NaN,NaN,99.0,279.0
2,2,1950.0,Leo Barnhorst,SF,25.0,CHS,67.0,NaN,NaN,NaN,...,0.698,NaN,NaN,NaN,140.0,NaN,NaN,NaN,192.0,438.0
3,3,1950.0,Ed Bartels,F,24.0,TOT,15.0,NaN,NaN,NaN,...,0.559,NaN,NaN,NaN,20.0,NaN,NaN,NaN,29.0,63.0
4,4,1950.0,Ed Bartels,F,24.0,DNN,13.0,NaN,NaN,NaN,...,0.548,NaN,NaN,NaN,20.0,NaN,NaN,NaN,27.0,59.0

In [8]:
# RENAME COLUMNS TO MATCH IDs FOR MERGING

df_player_data = df_player_data.rename(columns={"name": "Player"})
df_player_data.head()

,Player,year_start,year_end,position,height,weight,birth_date,college
0,Alaa Abdelnaby,1991,1995,F-C,6-10,240.0,"June 24, 1968",Duke University
1,Zaid Abdul-Aziz,1969,1978,C-F,6-9,235.0,"April 7, 1946",Iowa State University
2,Kareem Abdul-Jabbar,1970,1989,C,7-2,225.0,"April 16, 1947","University of California, Los Angeles"
3,Mahmoud Abdul-Rauf,1991,2001,G,6-1,162.0,"March 9, 1969",Louisiana State University
4,Tariq Abdul-Wahad,1998,2003,F,6-6,223.0,"November 3, 1974",San Jose State University

In [9]:
# MERGING ALL DATAFRAMES INTO 1

df_players_full = df_players.merge(df_player_data, on="Player")
complete_df = df_players_full.merge(df_season_stats, on="Player")
complete_df.head()

,Unnamed: 0_x,Player,height_x,weight_x,collage,born,birth_city,birth_state,year_start,year_end,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0,Curly Armstrong,180.0,77.0,Indiana University,1918.0,NaN,NaN,1949,1951,...,0.705,NaN,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0
1,0,Curly Armstrong,180.0,77.0,Indiana University,1918.0,NaN,NaN,1949,1951,...,0.644,NaN,NaN,89.0,77.0,NaN,NaN,NaN,97.0,202.0
2,1,Cliff Barker,188.0,83.0,University of Kentucky,1921.0,Yorktown,Indiana,1950,1952,...,0.708,NaN,NaN,NaN,109.0,NaN,NaN,NaN,99.0,279.0
3,1,Cliff Barker,188.0,83.0,University of Kentucky,1921.0,Yorktown,Indiana,1950,1952,...,0.649,NaN,NaN,100.0,115.0,NaN,NaN,NaN,98.0,152.0
4,1,Cliff Barker,188.0,83.0,University of Kentucky,1921.0,Yorktown,Indiana,1950,1952,...,0.588,NaN,NaN,81.0,70.0,NaN,NaN,NaN,56.0,126.0

In [10]:
#DROPING DUPLICATE ROWS. KEEPING FIRST VALUE AS UNIQUE

complete_df.drop_duplicates(subset ="Player", 
                     keep = "first", inplace = True)
complete_df

,Unnamed: 0_x,Player,height_x,weight_x,collage,born,birth_city,birth_state,year_start,year_end,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0,Curly Armstrong,180.0,77.0,Indiana University,1918.0,NaN,NaN,1949,1951,...,0.705,NaN,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0
2,1,Cliff Barker,188.0,83.0,University of Kentucky,1921.0,Yorktown,Indiana,1950,1952,...,0.708,NaN,NaN,NaN,109.0,NaN,NaN,NaN,99.0,279.0
5,2,Leo Barnhorst,193.0,86.0,University of Notre Dame,1924.0,NaN,NaN,1950,1954,...,0.698,NaN,NaN,NaN,140.0,NaN,NaN,NaN,192.0,438.0
10,3,Ed Bartels,196.0,88.0,North Carolina State University,1925.0,NaN,NaN,1950,1951,...,0.559,NaN,NaN,NaN,20.0,NaN,NaN,NaN,29.0,63.0
14,4,Ralph Beard,178.0,79.0,University of Kentucky,1927.0,Hardinsburg,Kentucky,1950,1951,...,0.762,NaN,NaN,NaN,233.0,NaN,NaN,NaN,132.0,895.0
16,5,Gene Berce,180.0,79.0,Marquette University,1926.0,NaN,NaN,1950,1950,...,0.000,NaN,NaN,NaN,2.0,NaN,NaN,NaN,6.0,10.0
17,6,Charlie Black,196.0,90.0,University of Kansas,1921.0,Arco,Idaho,1949,1952,...,0.651,NaN,NaN,NaN,163.0,NaN,NaN,NaN,273.0,661.0
21,7,Nelson Bobb,183.0,77.0,Temple University,1924.0,Philadelphia,Pennsylvania,1950,1953,...,0.626,NaN,NaN,NaN,46.0,NaN,NaN,NaN,97.0,242.0
25,8,Jake Bornheimer,196.0,90.0,Muhlenberg College,1927.0,New Brunswick,New Jersey,1949,1950,...,0.667,NaN,NaN,NaN,40.0,NaN,NaN,NaN,111.0,254.0
26,9,Vince Boryla,196.0,95.0,University of Denver,1927.0,East Chicago,Indiana,1950,1954,...,0.764,NaN,NaN,NaN,95.0,NaN,NaN,NaN,203.0,612.0
31,10,Don Boven,193.0,95.0,Western Michigan University,1925.0,Kalamazoo,Michigan,1950,1953,...,0.688,NaN,NaN,NaN,137.0,NaN,NaN,NaN,255.0,656.0
37,11,Harry Boykoff,208.0,102.0,St. John's University,1922.0,Brooklyn,New York,1950,1951,...,0.775,NaN,NaN,NaN,149.0,NaN,NaN,NaN,229.0,779.0
41,12,Joe Bradley,190.0,79.0,Oklahoma State University,1928.0,Washington,Oklahoma,1950,1950,...,0.395,NaN,NaN,NaN,36.0,NaN,NaN,NaN,51.0,87.0
42,13,Bob Brannum,196.0,97.0,Michigan State University,1925.0,NaN,NaN,1950,1955,...,0.690,NaN,NaN,NaN,205.0,NaN,NaN,NaN,279.0,713.0
47,14,Carl Braun,196.0,81.0,Colgate University,1927.0,Brooklyn,New York,1948,1962,...,0.762,NaN,NaN,NaN,247.0,NaN,NaN,NaN,188.0,1031.0
58,15,Frankie Brian,185.0,81.0,Louisiana State University,1923.0,Zachary,Louisiana,1950,1956,...,0.824,NaN,NaN,NaN,189.0,NaN,NaN,NaN,192.0,1138.0
65,16,Price Brookfield,193.0,83.0,West Texas A&M University,1920.0,Floydada,Texas,1949,1950,...,0.923,NaN,NaN,NaN,1.0,NaN,NaN,NaN,7.0,34.0
66,17,Bob Brown,193.0,92.0,Miami University,1923.0,Versailles,Ohio,1949,1950,...,0.683,NaN,NaN,NaN,101.0,NaN,NaN,NaN,269.0,724.0
67,18,Jim Browne,208.0,106.0,NaN,1930.0,Midlothian,Illinois,1949,1950,...,0.481,NaN,NaN,NaN,8.0,NaN,NaN,NaN,16.0,47.0
68,19,Walt Budko,196.0,99.0,Columbia University,1925.0,Kearney,New Jersey,1949,1952,...,0.757,NaN,NaN,NaN,146.0,NaN,NaN,NaN,259.0,595.0
71,20,Jack Burmaster,190.0,86.0,University of Illinois at Urbana-Champaign,1926.0,NaN,NaN,1950,1950,...,0.681,NaN,NaN,NaN,179.0,NaN,NaN,NaN,237.0,598.0
72,21,Tommy Byrnes,190.0,79.0,Seton Hall University,1923.0,Teaneck,New Jersey,1947,1951,...,0.702,NaN,NaN,NaN,88.0,NaN,NaN,NaN,76.0,327.0
77,22,Bill Calhoun,190.0,81.0,City College of San Francisco,1927.0,San Francisco,California,1949,1955,...,0.719,NaN,NaN,NaN,115.0,NaN,NaN,NaN,100.0,560.0
85,23,Don Carlson,183.0,77.0,University of Minnesota,1919.0,Minneapolis,Minnesota,1947,1951,...,0.726,NaN,NaN,NaN,76.0,NaN,NaN,NaN,126.0,267.0
87,24,Bob Carpenter,196.0,90.0,East Texas State University,1917.0,NaN,NaN,1950,1951,...,0.742,NaN,NaN,NaN,92.0,NaN,NaN,NaN,168.0,614.0
91,25,Jake Carter,193.0,88.0,East Texas State University,1924.0,NaN,NaN,1950,1950,...,0.679,NaN,NaN,NaN,24.0,NaN,NaN,NaN,59.0,82.0
94,27,John Chaney,190.0,83.0,Louisiana State University,1920.0,NaN,NaN,1950,1950,...,0.690,NaN,NaN,NaN,20.0,NaN,NaN,NaN,23.0,70.0
97,28,Leroy Chollet,188.0,86.0,Canisius College,1925.0,New Orleans,Louisiana,1950,1951,...,0.625,NaN,NaN,NaN,37.0,NaN,NaN,NaN,52.0,157.0
99,29,Bill Closs,196.0,88.0,Rice University,1922.0,Edge,Texas,1950,1952,...,0.718,NaN,NaN,NaN,160.0,NaN,NaN,NaN,190.0,752.0
102,30,Paul Cloyd,188.0,81.0,University of Wisconsin,1920.0,NaN,NaN,1950,1950,...,0.625,NaN,NaN,NaN,2.0,NaN,NaN,NaN,5.0,19.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23429,3892,Chinanu Onuaku,208.0,111.0,University of Louisville,1996.0,Baltimore,Maryland,2017,2017,...,1.000,2.0,8.0,10.0,3.0,3.0,1.0,4.0,6.0,14.0
23430,3893,Georgios Papagiannis,216.0,108.0,NaN,1997.0,Amarousio,Greece,2017,2018,...,0.857,24.0,62.0,86.0,20.0,3.0,17.0,24.0,44.0,124.0
23431,3894,Gary Payton,193.0,81.0,Oregon State University,1968.0,Oakland,California,1991,2007,...,0.600,0.0,12.0,12.0,13.0,3.0,4.0,10.0,9.0,20.0
23433,3895,Marshall Plumlee,211.0,111.0,Duke University,1990.0,Fort Wayne,Indiana,2017,2017,...,0.421,23.0,28.0,51.0,10.0,4.0,4.0,12.0,23.0,40.0
23434,3896,Jakob Poeltl,213.0,112.0,University of Utah,1995.0,Vienna,Austria,2017,2018,...,0.544,78.0,87.0,165.0,12.0,17.0,20.0,29.0,113.0,165.0
23435,3897,Alex Poythress,201.0,107.0,University of Kentucky,1993.0,Savannah,Georgia,2017,2018,...,0.800,11.0,18.0,29.0,5.0,3.0,2.0,3.0,14.0,64.0
23436,3898,Tim Quarterman,198.0,88.0,Louisiana State University,1994.0,Savannah,Georgia,2017,2017,...,0.000,4.0,10.0,14.0,11.0,2.0,3.0,11.0,6.0,31.0
23437,3899,Chasson Randle,188.0,83.0,Stanford University,1993.0,Rock Island,Illinois,2017,2017,...,0.953,6.0,26.0,32.0,34.0,9.0,2.0,19.0,39.0,137.0
23440,3900,Malachi Richardson,198.0,92.0,Syracuse University,1996.0,Trenton,New Jersey,2017,2018,...,0.789,3.0,20.0,23.0,11.0,5.0,1.0,8.0,23.0,79.0
23441,3901,Domantas Sabonis,211.0,108.0,Gonzaga University,1996.0,Portland,Oregon,2017,2018,...,0.657,45.0,242.0,287.0,82.0,39.0,32.0,83.0,200.0,479.0
23442,3902,Dario Saric,208.0,101.0,NaN,1994.0,Sibenik,Croatia,2017,2018,...,0.782,112.0,401.0,513.0,182.0,57.0,30.0,183.0,162.0,1040.0
23443,3903,Tomas Satoransky,201.0,95.0,NaN,1991.0,Prague,Czech Republic,2017,2018,...,0.697,25.0,58.0,83.0,92.0,26.0,6.0,38.0,60.0,154.0
23444,3904,Wayne Selden,196.0,104.0,University of Kansas,1994.0,Roxbury,Massachusetts,2017,2018,...,0.636,1.0,15.0,16.0,13.0,6.0,1.0,12.0,18.0,71.0
23447,3905,Pascal Siakam,206.0,104.0,New Mexico State University,1994.0,Douala,Cameroon,2017,2018,...,0.688,64.0,121.0,185.0,17.0,26.0,45.0,33.0,109.0,229.0
23448,3906,Diamond Stone,211.0,115.0,University of Maryland,1997.0,Milwaukee,Wisconsin,2017,2017,...,1.000,1.0,5.0,6.0,0.0,0.0,1.0,2.0,5.0,10.0
23449,3907,Edy Tavares,211.0,115.0,NaN,1997.0,NaN,NaN,2016,2017,...,0.000,4.0,7.0,11.0,1.0,0.0,6.0,2.0,3.0,8.0
23452,3908,Isaiah Taylor,190.0,77.0,University of Texas at Austin,1994.0,Hayward,California,2017,2018,...,0.500,1.0,2.0,3.0,3.0,1.0,1.0,0.0,6.0,3.0
23453,3909,Mike Tobey,213.0,117.0,University of Virginia,1994.0,Monroe,New York,2017,2017,...,NaN,2.0,1.0,3.0,1.0,0.0,0.0,1.0,2.0,2.0
23454,3910,Tyler Ulis,178.0,68.0,University of Kentucky,1996.0,Detroit,Michigan,2017,2018,...,0.775,20.0,75.0,95.0,226.0,48.0,5.0,77.0,73.0,444.0
23455,3911,Jarrod Uthoff,206.0,100.0,University of Iowa,1993.0,Cedar Rapids,Iowa,2017,2017,...,0.714,8.0,14.0,22.0,9.0,2.0,4.0,3.0,8.0,40.0
23456,3912,Denzel Valentine,198.0,96.0,Michigan State University,1993.0,Lansing,Michigan,2017,2018,...,0.778,11.0,140.0,151.0,63.0,30.0,7.0,49.0,86.0,291.0
23457,3913,Fred VanVleet,183.0,88.0,Wichita State University,1994.0,Rockford,Illinois,2017,2018,...,0.818,4.0,38.0,42.0,35.0,17.0,2.0,15.0,36.0,107.0
23458,3914,Taurean Waller-Prince,183.0,88.0,NaN,1994.0,NaN,NaN,2017,2018,...,0.787,25.0,132.0,157.0,55.0,43.0,27.0,61.0,96.0,335.0
23459,3915,Okaro White,203.0,92.0,Florida State University,1992.0,Clearwater,Florida,2017,2018,...,0.909,25.0,57.0,82.0,21.0,10.0,10.0,18.0,52.0,98.0
23460,3916,Isaiah Whitehead,193.0,96.0,Seton Hall University,1995.0,Brooklyn,New York,2017,2018,...,0.805,32.0,152.0,184.0,192.0,42.0,36.0,142.0,175.0,543.0
23461,3917,Troy Williams,198.0,97.0,South Carolina State University,1969.0,Columbia,South Carolina,2017,2018,...,0.656,15.0,54.0,69.0,25.0,27.0,10.0,33.0,60.0,185.0
23464,3918,Kyle Wiltjer,208.0,108.0,Gonzaga University,1992.0,Portland,Oregon,2017,2017,...,0.500,4.0,6.0,10.0,2.0,3.0,1.0,5.0,4.0,13.0
23465,3919,Stephen Zimmerman,213.0,108.0,"University of Nevada, Las Vegas",1996.0,Hendersonville,Tennessee,2017,2017,...,0.600,11.0,24.0,35.0,4.0,2.0,5.0,3.0,17.0,23.0
23466,3920,Paul Zipser,203.0,97.0,NaN,1994.0,Heidelberg,Germany,2017,2018,...,0.775,15.0,110.0,125.0,36.0,15.0,16.0,40.0,78.0,240.0
23467,3921,Ivica Zubac,216.0,120.0,NaN,1997.0,Mostar,Bosnia and Herzegovina,2017,2018,...,0.653,41.0,118.0,159.0,30.0,14.0,33.0,30.0,66.0,284.0

In [13]:
print (complete_df.isin([' ','NULL',0]))

       Unnamed: 0_x  Player  height_x  weight_x  collage   born  birth_city  \
0              True   False     False     False    False  False       False
2             False   False     False     False    False  False       False
5             False   False     False     False    False  False       False
10            False   False     False     False    False  False       False
14            False   False     False     False    False  False       False
...             ...     ...       ...       ...      ...    ...         ...
23461         False   False     False     False    False  False       False
23464         False   False     False     False    False  False       False
23465         False   False     False     False    False  False       False
23466         False   False     False     False    False  False       False
23467         False   False     False     False    False  False       False

       birth_state  year_start  year_end  ...    FT%    ORB    DRB    TRB  \
0            False       False     False  ...  False  False  False  False
2            False       False     False  ...  False  False  False  False
5            False       False     False  ...  False  False  False  False
10           False       False     False  ...  False  False  False  False
14           False       False     False  ...  False  False  False  False
...            ...         ...       ...  ...    ...    ...    ...    ...
23461        False       False     False  ...  False  False  False  False
23464        False       False     False  ...  False  False  False  False
23465        False       False     False  ...  False  False  False  False
23466        False       False     False  ...  False  False  False  False
23467        False       False     False  ...  False  False  False  False

         AST    STL    BLK    TOV     PF    PTS
0      False  False  False  False  False  False
2      False  False  False  False  False  False
5      False  False  False  False  False  False
10     False  False  False  False  False  False
14     False  False  False  False  False  False
...      ...    ...    ...    ...    ...    ...
23461  False  False  False  False  False  False
23464  False  False  False  False  False  False
23465  False  False  False  False  False  False
23466  False  False  False  False  False  False
23467  False  False  False  False  False  False

[3765 rows x 65 columns]

In [15]:
print (complete_df.isin([' ','NULL',0]).mean())

Unnamed: 0_x    0.000266
Player          0.000000
height_x        0.000000
weight_x        0.000000
collage         0.000000
                  ...
STL             0.069588
BLK             0.131208
TOV             0.028951
PF              0.019655
PTS             0.017530
Length: 65, dtype: float64

In [17]:
complete_df = complete_df.loc[:, complete_df.isin([' ','NULL',0]).mean() < .4]
complete_df

,Unnamed: 0_x,Player,height_x,weight_x,collage,born,birth_city,birth_state,year_start,year_end,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0,Curly Armstrong,180.0,77.0,Indiana University,1918.0,NaN,NaN,1949,1951,...,0.705,NaN,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0
2,1,Cliff Barker,188.0,83.0,University of Kentucky,1921.0,Yorktown,Indiana,1950,1952,...,0.708,NaN,NaN,NaN,109.0,NaN,NaN,NaN,99.0,279.0
5,2,Leo Barnhorst,193.0,86.0,University of Notre Dame,1924.0,NaN,NaN,1950,1954,...,0.698,NaN,NaN,NaN,140.0,NaN,NaN,NaN,192.0,438.0
10,3,Ed Bartels,196.0,88.0,North Carolina State University,1925.0,NaN,NaN,1950,1951,...,0.559,NaN,NaN,NaN,20.0,NaN,NaN,NaN,29.0,63.0
14,4,Ralph Beard,178.0,79.0,University of Kentucky,1927.0,Hardinsburg,Kentucky,1950,1951,...,0.762,NaN,NaN,NaN,233.0,NaN,NaN,NaN,132.0,895.0
16,5,Gene Berce,180.0,79.0,Marquette University,1926.0,NaN,NaN,1950,1950,...,0.000,NaN,NaN,NaN,2.0,NaN,NaN,NaN,6.0,10.0
17,6,Charlie Black,196.0,90.0,University of Kansas,1921.0,Arco,Idaho,1949,1952,...,0.651,NaN,NaN,NaN,163.0,NaN,NaN,NaN,273.0,661.0
21,7,Nelson Bobb,183.0,77.0,Temple University,1924.0,Philadelphia,Pennsylvania,1950,1953,...,0.626,NaN,NaN,NaN,46.0,NaN,NaN,NaN,97.0,242.0
25,8,Jake Bornheimer,196.0,90.0,Muhlenberg College,1927.0,New Brunswick,New Jersey,1949,1950,...,0.667,NaN,NaN,NaN,40.0,NaN,NaN,NaN,111.0,254.0
26,9,Vince Boryla,196.0,95.0,University of Denver,1927.0,East Chicago,Indiana,1950,1954,...,0.764,NaN,NaN,NaN,95.0,NaN,NaN,NaN,203.0,612.0
31,10,Don Boven,193.0,95.0,Western Michigan University,1925.0,Kalamazoo,Michigan,1950,1953,...,0.688,NaN,NaN,NaN,137.0,NaN,NaN,NaN,255.0,656.0
37,11,Harry Boykoff,208.0,102.0,St. John's University,1922.0,Brooklyn,New York,1950,1951,...,0.775,NaN,NaN,NaN,149.0,NaN,NaN,NaN,229.0,779.0
41,12,Joe Bradley,190.0,79.0,Oklahoma State University,1928.0,Washington,Oklahoma,1950,1950,...,0.395,NaN,NaN,NaN,36.0,NaN,NaN,NaN,51.0,87.0
42,13,Bob Brannum,196.0,97.0,Michigan State University,1925.0,NaN,NaN,1950,1955,...,0.690,NaN,NaN,NaN,205.0,NaN,NaN,NaN,279.0,713.0
47,14,Carl Braun,196.0,81.0,Colgate University,1927.0,Brooklyn,New York,1948,1962,...,0.762,NaN,NaN,NaN,247.0,NaN,NaN,NaN,188.0,1031.0
58,15,Frankie Brian,185.0,81.0,Louisiana State University,1923.0,Zachary,Louisiana,1950,1956,...,0.824,NaN,NaN,NaN,189.0,NaN,NaN,NaN,192.0,1138.0
65,16,Price Brookfield,193.0,83.0,West Texas A&M University,1920.0,Floydada,Texas,1949,1950,...,0.923,NaN,NaN,NaN,1.0,NaN,NaN,NaN,7.0,34.0
66,17,Bob Brown,193.0,92.0,Miami University,1923.0,Versailles,Ohio,1949,1950,...,0.683,NaN,NaN,NaN,101.0,NaN,NaN,NaN,269.0,724.0
67,18,Jim Browne,208.0,106.0,NaN,1930.0,Midlothian,Illinois,1949,1950,...,0.481,NaN,NaN,NaN,8.0,NaN,NaN,NaN,16.0,47.0
68,19,Walt Budko,196.0,99.0,Columbia University,1925.0,Kearney,New Jersey,1949,1952,...,0.757,NaN,NaN,NaN,146.0,NaN,NaN,NaN,259.0,595.0
71,20,Jack Burmaster,190.0,86.0,University of Illinois at Urbana-Champaign,1926.0,NaN,NaN,1950,1950,...,0.681,NaN,NaN,NaN,179.0,NaN,NaN,NaN,237.0,598.0
72,21,Tommy Byrnes,190.0,79.0,Seton Hall University,1923.0,Teaneck,New Jersey,1947,1951,...,0.702,NaN,NaN,NaN,88.0,NaN,NaN,NaN,76.0,327.0
77,22,Bill Calhoun,190.0,81.0,City College of San Francisco,1927.0,San Francisco,California,1949,1955,...,0.719,NaN,NaN,NaN,115.0,NaN,NaN,NaN,100.0,560.0
85,23,Don Carlson,183.0,77.0,University of Minnesota,1919.0,Minneapolis,Minnesota,1947,1951,...,0.726,NaN,NaN,NaN,76.0,NaN,NaN,NaN,126.0,267.0
87,24,Bob Carpenter,196.0,90.0,East Texas State University,1917.0,NaN,NaN,1950,1951,...,0.742,NaN,NaN,NaN,92.0,NaN,NaN,NaN,168.0,614.0
91,25,Jake Carter,193.0,88.0,East Texas State University,1924.0,NaN,NaN,1950,1950,...,0.679,NaN,NaN,NaN,24.0,NaN,NaN,NaN,59.0,82.0
94,27,John Chaney,190.0,83.0,Louisiana State University,1920.0,NaN,NaN,1950,1950,...,0.690,NaN,NaN,NaN,20.0,NaN,NaN,NaN,23.0,70.0
97,28,Leroy Chollet,188.0,86.0,Canisius College,1925.0,New Orleans,Louisiana,1950,1951,...,0.625,NaN,NaN,NaN,37.0,NaN,NaN,NaN,52.0,157.0
99,29,Bill Closs,196.0,88.0,Rice University,1922.0,Edge,Texas,1950,1952,...,0.718,NaN,NaN,NaN,160.0,NaN,NaN,NaN,190.0,752.0
102,30,Paul Cloyd,188.0,81.0,University of Wisconsin,1920.0,NaN,NaN,1950,1950,...,0.625,NaN,NaN,NaN,2.0,NaN,NaN,NaN,5.0,19.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23429,3892,Chinanu Onuaku,208.0,111.0,University of Louisville,1996.0,Baltimore,Maryland,2017,2017,...,1.000,2.0,8.0,10.0,3.0,3.0,1.0,4.0,6.0,14.0
23430,3893,Georgios Papagiannis,216.0,108.0,NaN,1997.0,Amarousio,Greece,2017,2018,...,0.857,24.0,62.0,86.0,20.0,3.0,17.0,24.0,44.0,124.0
23431,3894,Gary Payton,193.0,81.0,Oregon State University,1968.0,Oakland,California,1991,2007,...,0.600,0.0,12.0,12.0,13.0,3.0,4.0,10.0,9.0,20.0
23433,3895,Marshall Plumlee,211.0,111.0,Duke University,1990.0,Fort Wayne,Indiana,2017,2017,...,0.421,23.0,28.0,51.0,10.0,4.0,4.0,12.0,23.0,40.0
23434,3896,Jakob Poeltl,213.0,112.0,University of Utah,1995.0,Vienna,Austria,2017,2018,...,0.544,78.0,87.0,165.0,12.0,17.0,20.0,29.0,113.0,165.0
23435,3897,Alex Poythress,201.0,107.0,University of Kentucky,1993.0,Savannah,Georgia,2017,2018,...,0.800,11.0,18.0,29.0,5.0,3.0,2.0,3.0,14.0,64.0
23436,3898,Tim Quarterman,198.0,88.0,Louisiana State University,1994.0,Savannah,Georgia,2017,2017,...,0.000,4.0,10.0,14.0,11.0,2.0,3.0,11.0,6.0,31.0
23437,3899,Chasson Randle,188.0,83.0,Stanford University,1993.0,Rock Island,Illinois,2017,2017,...,0.953,6.0,26.0,32.0,34.0,9.0,2.0,19.0,39.0,137.0
23440,3900,Malachi Richardson,198.0,92.0,Syracuse University,1996.0,Trenton,New Jersey,2017,2018,...,0.789,3.0,20.0,23.0,11.0,5.0,1.0,8.0,23.0,79.0
23441,3901,Domantas Sabonis,211.0,108.0,Gonzaga University,1996.0,Portland,Oregon,2017,2018,...,0.657,45.0,242.0,287.0,82.0,39.0,32.0,83.0,200.0,479.0
23442,3902,Dario Saric,208.0,101.0,NaN,1994.0,Sibenik,Croatia,2017,2018,...,0.782,112.0,401.0,513.0,182.0,57.0,30.0,183.0,162.0,1040.0
23443,3903,Tomas Satoransky,201.0,95.0,NaN,1991.0,Prague,Czech Republic,2017,2018,...,0.697,25.0,58.0,83.0,92.0,26.0,6.0,38.0,60.0,154.0
23444,3904,Wayne Selden,196.0,104.0,University of Kansas,1994.0,Roxbury,Massachusetts,2017,2018,...,0.636,1.0,15.0,16.0,13.0,6.0,1.0,12.0,18.0,71.0
23447,3905,Pascal Siakam,206.0,104.0,New Mexico State University,1994.0,Douala,Cameroon,2017,2018,...,0.688,64.0,121.0,185.0,17.0,26.0,45.0,33.0,109.0,229.0
23448,3906,Diamond Stone,211.0,115.0,University of Maryland,1997.0,Milwaukee,Wisconsin,2017,2017,...,1.000,1.0,5.0,6.0,0.0,0.0,1.0,2.0,5.0,10.0
23449,3907,Edy Tavares,211.0,115.0,NaN,1997.0,NaN,NaN,2016,2017,...,0.000,4.0,7.0,11.0,1.0,0.0,6.0,2.0,3.0,8.0
23452,3908,Isaiah Taylor,190.0,77.0,University of Texas at Austin,1994.0,Hayward,California,2017,2018,...,0.500,1.0,2.0,3.0,3.0,1.0,1.0,0.0,6.0,3.0
23453,3909,Mike Tobey,213.0,117.0,University of Virginia,1994.0,Monroe,New York,2017,2017,...,NaN,2.0,1.0,3.0,1.0,0.0,0.0,1.0,2.0,2.0
23454,3910,Tyler Ulis,178.0,68.0,University of Kentucky,1996.0,Detroit,Michigan,2017,2018,...,0.775,20.0,75.0,95.0,226.0,48.0,5.0,77.0,73.0,444.0
23455,3911,Jarrod Uthoff,206.0,100.0,University of Iowa,1993.0,Cedar Rapids,Iowa,2017,2017,...,0.714,8.0,14.0,22.0,9.0,2.0,4.0,3.0,8.0,40.0
23456,3912,Denzel Valentine,198.0,96.0,Michigan State University,1993.0,Lansing,Michigan,2017,2018,...,0.778,11.0,140.0,151.0,63.0,30.0,7.0,49.0,86.0,291.0
23457,3913,Fred VanVleet,183.0,88.0,Wichita State University,1994.0,Rockford,Illinois,2017,2018,...,0.818,4.0,38.0,42.0,35.0,17.0,2.0,15.0,36.0,107.0
23458,3914,Taurean Waller-Prince,183.0,88.0,NaN,1994.0,NaN,NaN,2017,2018,...,0.787,25.0,132.0,157.0,55.0,43.0,27.0,61.0,96.0,335.0
23459,3915,Okaro White,203.0,92.0,Florida State University,1992.0,Clearwater,Florida,2017,2018,...,0.909,25.0,57.0,82.0,21.0,10.0,10.0,18.0,52.0,98.0
23460,3916,Isaiah Whitehead,193.0,96.0,Seton Hall University,1995.0,Brooklyn,New York,2017,2018,...,0.805,32.0,152.0,184.0,192.0,42.0,36.0,142.0,175.0,543.0
23461,3917,Troy Williams,198.0,97.0,South Carolina State University,1969.0,Columbia,South Carolina,2017,2018,...,0.656,15.0,54.0,69.0,25.0,27.0,10.0,33.0,60.0,185.0
23464,3918,Kyle Wiltjer,208.0,108.0,Gonzaga University,1992.0,Portland,Oregon,2017,2017,...,0.500,4.0,6.0,10.0,2.0,3.0,1.0,5.0,4.0,13.0
23465,3919,Stephen Zimmerman,213.0,108.0,"University of Nevada, Las Vegas",1996.0,Hendersonville,Tennessee,2017,2017,...,0.600,11.0,24.0,35.0,4.0,2.0,5.0,3.0,17.0,23.0
23466,3920,Paul Zipser,203.0,97.0,NaN,1994.0,Heidelberg,Germany,2017,2018,...,0.775,15.0,110.0,125.0,36.0,15.0,16.0,40.0,78.0,240.0
23467,3921,Ivica Zubac,216.0,120.0,NaN,1997.0,Mostar,Bosnia and Herzegovina,2017,2018,...,0.653,41.0,118.0,159.0,30.0,14.0,33.0,30.0,66.0,284.0

In [22]:
missing_values = len(complete_df) - complete_df.count()
display(missing_values)

Unnamed: 0_x       0
Player             0
height_x           0
weight_x           0
collage          317
                ...
STL              884
BLK              884
TOV             1121
PF                 0
PTS                0
Length: 65, dtype: int64

In [18]:
#complete_df = complete_df.drop(columns=["","blanl"])

In [19]:
# GET ALL COLUMN NAMES

for col in complete_df.columns: 
    print(col)

Unnamed: 0_x
Player
height_x
weight_x
collage
born
birth_city
birth_state
year_start
year_end
position
height_y
weight_y
birth_date
college
Unnamed: 0_y
Year
Pos
Age
Tm
G
GS
MP
PER
TS%
3PAr
FTr
ORB%
DRB%
TRB%
AST%
STL%
BLK%
TOV%
USG%
OWS
DWS
WS
WS/48
OBPM
DBPM
BPM
VORP
FG
FGA
FG%
3P
3PA
3P%
2P
2PA
2P%
eFG%
FT
FTA
FT%
ORB
DRB
TRB
AST
STL
BLK
TOV
PF
PTS

In [19]:
height_x_list = complete_df["height_x"].tolist()
height_y_list = complete_df["height_y"].tolist()
weight_x_list = complete_df["weight_x"].tolist()
weight_y_list = complete_df["weight_y"].tolist()

In [23]:
# print(height_x_list)
# HEIGHT X IS IN CM

In [24]:
# print(height_y_list)
# HEIGHT Y IS IN FEET

In [25]:
# print(weight_x_list)
# WEIGHT X IS IN KG

In [26]:
# print(weight_y_list)
# WEIGHT Y IS IN POUNDS

In [27]:
# DELETE HEIGHT AND WEIGHT NOT IN METRIC SYSTEM

complete_df = complete_df.drop(columns=["height_y","weight_y"])

In [ ]:
# DELETE UNWANTED COLUMNS

complete_df = complete_df.drop(columns=["Unnamed:0_x","Unnamed:0_y"])

In [ ]:
#SORT THE DATASET BY COLUMN NAME

#df_year = df.loc[df['Year'] == 1992]
#df_year

In [13]:
# CREATE LIST FROM DF COLUMN

# artist_list = df["Artist"].tolist()

In [23]:
url = "https://stats.nba.com/stats/drafthistory"
response = requests.get(url)
results = response.json()
nbadraft_df = pd.DataFrame(results)
nbadraft_df

ReadTimeout: HTTPSConnectionPool(host='stats.nba.com', port=443): Read timed out. (read timeout=None)

In [12]:
"""
querystring = {"s_artist_rating":"desc","q_artist":"pitbull","page":"1","page_size":"5"}

headers = {
    'x-rapidapi-host': "musixmatchcom-musixmatch.p.rapidapi.com",
    'x-rapidapi-key': "a324cdf9f1msh3b794688e0354fep15f24djsnc38768c3dac1"
    }

response = requests.request("GET", url, headers=headers, params=querystring)

print(response)
"""

<Response [401]>

NameError: name 'df_albums' is not defined

In [ ]:
#DELETING COLUMNS WITH USELESS DATA
full_df = full_df.drop(columns=["id","email", "zip_code","role","country","city", "year_of_birth"])
full_df.head()

In [ ]:
#GIVE INFO OF NUMERIC COLUMNS
full_df.describe()

In [ ]:
genre_list = full_df["genre"].tolist()

In [ ]:
genres = set(genre_list)
genres

In [ ]:
full_df = full_df.replace({"Black Metal": "Metal","Death Metal": "Metal","Heavy Metal": "Metal","Holy Metal": "Metal"})
full_df

In [ ]:
genres

In [ ]:
clean_genre_list = full_df["genre"].tolist()
new_genres = set(clean_genre_list)
new_genres

In [ ]:
artist_list = full_df["art_name"].tolist()
len(artist_list)
artist_set = set(artist_list)
artist_set